openapi: 3.0.3
info:
  title: VoiceLabs Cosmos API
  version: 0.1.0
  description: |
    OpenAPI specification generated from the Insomnia collection **cosmos‑v2**.
    Only endpoints present in the export have been modeled. Feel free to extend schemas,
    examples, and error models as your backend evolves.
servers:
  - url: https://platform.voicelabs.in/api/v1
tags:
  - name: Calls
    description: Outbound call management
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    CallCreationRequest:
      type: object
      required:
        - to_number
        - campaign_id
      properties:
        to_number:
          type: string
          example: "+917987544173"
        dynamic_variables:
          $ref: '#/components/schemas/DynamicVariables'
        metadata:
          $ref: '#/components/schemas/Metadata'
        campaign_id:
          type: string
          format: uuid
          example: ab745e09-d4ff-4fbe-85cb-a70ebd0b6be2
    DynamicVariables:
      type: object
      properties:
        customer_name:
          type: string
          example: abhinash
        dealer_name:
          type: string
          example: vinod volvo
        vehicle_no:
          type: string
          example: K34hjslwn
        callback_date:
          type: string
          description: Free‑form date supplied by caller
          example: "30 June 25"
        callback_time:
          type: string
          example: "12 pm"
        alt_contact_name:
          type: string
          example: chrome
        alt_contact_no:
          type: string
          example: "+919876543210"
    Metadata:
      type: object
      properties:
        org_id:
          type: string
          example: org_398ufn29a
        user_id:
          type: string
          example: user_9204jkal
    CallResponse:
      type: object
      description: |
        Placeholder response model. Replace with actual schema returned by your backend
        once it is finalised.
      properties:
        id:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
paths:
  /create-call:
    post:
      tags: [Calls]
      summary: Create a single outbound call
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallCreationRequest'
      responses:
        '201':
          description: Call successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '400':
          description: Invalid request
      security:
        - bearerAuth: [ ]
  /get-call/{call_id}:
    get:
      tags: [Calls]
      summary: Get details of a specific call
      parameters:
        - name: call_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Call details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CallResponse'
        '404':
          description: Call not found
      security:
        - bearerAuth: [ ]
  /list-calls:
    get:
      tags: [Calls]
      summary: List calls filtered by campaign and date range
      parameters:
        - name: campaign_id
          in: query
          description: Filter by campaign UUID
          required: false
          schema:
            type: string
            format: uuid
        - name: start
          in: query
          description: Start of the time window (inclusive)
          required: false
          schema:
            type: string
            format: date-time
        - name: end
          in: query
          description: End of the time window (exclusive)
          required: false
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A list of calls
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CallResponse'
      security:
        - bearerAuth: [ ]
security:
  - bearerAuth: [ ]