{
  "openapi": "3.0.3",
  "info": {
    "title": "VoiceLabs Platform API",
    "description": "REST API for VoiceLabs automated call platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://platform.voicelabs.in/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "CallRequest": {
        "type": "object",
        "properties": {
          "to_number": {
            "type": "string",
            "example": "+917987544173"
          },
          "dynamic_variables": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "org_id": {
                "type": "string"
              },
              "user_id": {
                "type": "string"
              }
            }
          },
          "campaign_id": {
            "type": "string"
          }
        },
        "required": [
          "to_number",
          "campaign_id"
        ]
      },
      "BatchCallMetadata": {
        "type": "object",
        "properties": {
          "priority": {
            "type": "string",
            "enum": [
              "low",
              "normal",
              "high"
            ]
          },
          "locale": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "password"
        ]
      },
      "SignupRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "email",
          "password"
        ]
      },
      "ConfirmRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "confirmation_code": {
            "type": "string"
          }
        },
        "required": [
          "username",
          "confirmation_code"
        ]
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/create-call": {
      "post": {
        "summary": "Create a single outbound call",
        "operationId": "createCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CallRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Call created"
          },
          "400": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/batch-call/": {
      "post": {
        "summary": "Create batch outbound calls from a file",
        "operationId": "batchCall",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "description": "JSON string with batch metadata",
                    "type": "string"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "campaign_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "campaign_id"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted"
          },
          "400": {
            "description": "Validation error"
          }
        }
      }
    },
    "/get-call/{call_id}": {
      "get": {
        "summary": "Retrieve call details",
        "operationId": "getCall",
        "parameters": [
          {
            "name": "call_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Call details returned"
          },
          "404": {
            "description": "Call not found"
          }
        }
      }
    },
    "/list-calls": {
      "get": {
        "summary": "List calls with optional filters",
        "operationId": "listCalls",
        "parameters": [
          {
            "name": "campaign_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "end",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of calls"
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "health",
        "security": [],
        "responses": {
          "200": {
            "description": "Service healthy"
          }
        }
      }
    },
    "/login": {
      "post": {
        "summary": "Authenticate user and obtain JWT",
        "operationId": "login",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/signup": {
      "post": {
        "summary": "Create a new user account",
        "operationId": "signup",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created"
          },
          "409": {
            "description": "User already exists"
          }
        }
      }
    },
    "/confirm": {
      "post": {
        "summary": "Confirm user account",
        "operationId": "confirmAccount",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account confirmed"
          },
          "400": {
            "description": "Invalid code"
          }
        }
      }
    }
  }
}
